<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>nimi</title>

    <!-- Bootstrap Core CSS -->
    <link href="static/grayscale/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="http://yui.yahooapis.com/pure/0.5.0/pure-min.css">
    <!-- Custom CSS -->
    <link href="static/grayscale/css/grayscale.css" rel="stylesheet">

    <!-- Custom Fonts -->
    <link href="static/grayscale/font-awesome-4.1.0/css/font-awesome.min.css" rel="stylesheet" type="text/css">
    <link href="http://fonts.googleapis.com/css?family=Lora:400,700,400italic,700italic" rel="stylesheet" type="text/css">
    <link href="http://fonts.googleapis.com/css?family=Montserrat:400,700" rel="stylesheet" type="text/css">

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

</head>

<body id="page-top" data-spy="scroll" data-target=".navbar-fixed-top">

    <!-- Navigation -->
    <nav class="navbar navbar-custom navbar-fixed-top" role="navigation">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-main-collapse">
                    <i class="fa fa-bars"></i>
                </button>
                <a class="navbar-brand page-scroll" href="#page-top">
                    <i class="fa fa-play-circle"></i>  <span class="light">Back to </span> Top
                </a>
            </div>

            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse navbar-right navbar-main-collapse">
                <ul class="nav navbar-nav">
                    <!-- Hidden li included to remove active class from about link when scrolled up past about section -->
                    <li class="hidden">
                        <a href="#page-top"></a>
                    </li>
                    <li>
                        <a class="page-scroll" href="#about">About</a>
                    </li>
                    <li>
                        <a class="page-scroll" href="#nimi">nimi</a>
                    </li>
                    <li>
                        <a class="page-scroll" href="#slides">Slides</a>
                    </li>
                </ul>
            </div>
            <!-- /.navbar-collapse -->
        </div>
        <!-- /.container -->
    </nav>

    <!-- Intro Header -->
    <header class="intro">
        <div class="intro-body">
            <div class="container">
                <div class="row">
                    <div class="col-md-8 col-md-offset-2">
                    <img 
                        <h1 id="logo"></h1>
                        <p class="intro-text">A new way to name your baby...<br>or anything, really!</p>
                        <a href="#download" class="btn btn-circle page-scroll">
                            <i class="fa fa-angle-double-down animated"></i>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </header>

    <!-- About Section -->
    <section id="about" class="container content-section text-center">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2">
                <h2>About</h2>
                <img src="static/nimilogoPSD_white.png" height="104" width="250">
                <br>
                <br>
                <p>When my wife and I found out we were having a son (already having a girl name picked out), we scrambled to find names that we both liked. I scoured the web for various name lists, some thematic, but never found more than a few names per list (out of hundreds) which resonated with me.</p>
            </div>
        </div>
    </section>

    <section id="slides" class="content-section text-center">
    <div class="slide-section">
    <div class="container">
    <iframe src="//www.slideshare.net/slideshow/embed_code/38327466?rel=0" width="597" height="486" frameborder="0" marginwidth="0" marginheight="0" scrolling="no" style="border:1px solid #CCC; border-width:1px; margin-bottom:5px; max-width: 100%;" allowfullscreen> </iframe> <div style="margin-bottom:5px"> <strong> <a href="https://www.slideshare.net/azirm/nimi-38327466" title="nimi: everyone has a name, give your kid a great one!" target="_blank">nimi: everyone has a name, give your kid a great one!</a> </strong> from <strong><a href="http://www.slideshare.net/azirm" target="_blank">azirm</a></strong> </div>
    </div>
    </div>
    </section>


    <!-- Download Section -->
    <section id="nimi" class="content-section text-center">
    <div class="download-section">
    <div class="container">
    <!-- <div STYLE="color: #FFFFFF; font-family: Verdana; font-weight: bold; font-size: 18px;"> -->

    <form role="form" id="myform">

    <div class='form-group'>
    <label class="control-label" for="keywords_text"> Keywords 
    <input type='text' class='form-control' id='keywords_text' placeholder="brave strong">
    </label>
    </div>

    <br>
    <br>

    <label for="examples"> Examples: </label>
    <br>
    <div class='btn-group' data-toggle='buttons-checkbox' id='examples'>
    <button class="btn btn-default btn-lg" name='warrior' id='warrior_radio'>
    <!-- <img src="static/nimilogoPSD_white.png">  -->
    Warrior
    </button>
    <button class="btn btn-default btn-lg" type='checkbox' name='zeus' id='zeus_radio'>Zeus
    </button>
    <button class="btn btn-default btn-lg" name='flower' id='flower_radio'>
    <!-- <img src="static/nimilogoPSD_white.png">  -->
    Flower
    </button>
    <button class="btn btn-default btn-lg" type='checkbox' name='goddess' id='goddess_radio'>Goddess
    </button>
    </div>

    <br>
    <br>
    
    <div class='btn-group' data-toggle='buttons'>
    <label for="masc_check" class='btn btn-danger active'>
    <input type='checkbox' name='male' id='masc_check' checked>Male
    </label>
    <label for="fem_check" class='btn btn-primary btn-info active'>
    <input type='checkbox' name='female' id='fem_check' checked>Female
    </label>
    </div>

    <br>
    <br>

    <div class='btn-group' data-toggle="buttons"> 
    <label class='btn btn-primary btn-lg'>
    <input type='checkbox' id='pop_check'>Popular
    </label>
    
    <label for="notpop_check" class='btn btn-primary btn-lg'>
    <input type='checkbox' id='notpop_check'>Common
    </label>
    
    <label class='btn btn-primary btn-lg' for="unu_check">
    <input type='checkbox' name='unusual' id='unu_check'>Unusual
    </label>
    
    <label class='btn btn-primary active btn-lg' for="rare_check">
    <input type='checkbox' name='rare' id='rare_check' checked>All the names!!
    </label>
    </div>

    <br>
    <br>
    <br>
      <div class="submitbox">
            <button id="submit_btn" type='submit' data-loading-text="Loading..." class='btn btn-default'>NIMI ME!</button>
      </div>
      </form>
    </div>
 <!--      <div>
      <p>
      <form>
    <input type="text" size="5" name="a"> +
    <input type="text" size="5" name="b"> =
    <span id="result">?</span>
    <p><a href="javascript:void();" id="calculate">calculate server side</a>
      </form>
      </div>
 -->
      <!-- <div class="buttonbox">
          <button id="submit">Submit</button>
      </div> -->
      <br>
      <br>
      <br>

      <div class='row'>
      <div id="namebox" class='col-lg-4 col-lg-offset-2'>
          <table class="table table-striped table-hover">
          </table>
      </div>
      <div id="savedbox" class='col-lg-4'>
          <table class="table table-striped table-hover">
          </table>
      </div>
      </div>
     
    </div><!-- /.container -->
                </div>
            </div>
        </div>
    </section>

    <!-- Footer -->
    <footer>
        <div class="container text-center">
            <p>Copyright &copy; Andrew W. Zirm 2014</p>
            <p>Name data from <a href='www.behindthename.com'>Behind the Name</a></p>
        </div>
    </footer>


    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="//code.jquery.com/jquery-1.11.0.min.js"></script>

    <!-- <script type=text/javascript>
          var $SCRIPT_ROOT = {{ request.script_root|tojson|safe }};
    </script>
    -->
    <!-- // <script src="static/js/bootstrap.min.js"></script> -->
    <script src="static/grayscale/js/grayscale.js"></script>
    
    <script>
        
        var query_for_names = function() {
            // var theme = $("#theme").val()
            // cities = [];
            // console.log('Querying names')
            console.log($('#keywords_text').val())
            $.ajax({
              type: "GET",
              url: '/db_json',
              contentType: "application/json; charset=utf-8",
              data: {keywords: $('#keywords_text').val(), male: $('#masc_check').is(":checked"), female: $('#fem_check').is(":checked"), pop: $('#pop_check').is(":checked"), notpop: $('#notpop_check').is(":checked"), unu: $('#unu_check').is(":checked"), rare: $('#rare_check').is(":checked")}, 
              success: function(data) {
                  // console.log("about to make table")
                  names = data.names;
                  var btn = $("#submit_btn");

                  $("#namebox tr").remove();
                  var rth = document.getElementById('rank_head');
                  if (rth == null) {
                    $("#namebox table").append('<tr><th id="rank_head">Ranked List</th></tr>');
                  };
                  var sth = document.getElementById('save_head');
                  if (sth == null) {
                    $("#savedbox table").append('<tr><th id="save_head">Saved List</th></tr>');
                  };
                  var masterTable = d3.select("#namebox table");
                  var savedTable = d3.select("#savedbox table");
                  names.forEach(function(item){
                    ActiveRow(item, masterTable, onSave);
                  });
                  btn.button('reset');
                  // for (i=0; i < names.length; i++) {
                  //       $("#namebox table").append('<tr><td><a href="http://www.behindthename.com' + names[i]['href'] + '" title="' + names[i]['mean'] + '">' + names[i]['name'] + '</a></td></tr>');
                  // }
                  // console.log('done making table')
             }   
         }
            )
        };
        
        $(document).ready(function() {
            $('#submit_btn').click(function( event ) {
            event.preventDefault();
            btn = $("#submit_btn");
            btn.button('loading');
            query_for_names();});

            $('#zeus_radio').click(function () {
              $('#keywords_text').val('zeus');
              $('#zeus_radio').button('toggle');
            });
            $('#warrior_radio').click(function () {
              $('#keywords_text').val('warrior');
              $('#warrior_radio').button('toggle');
            });
            $('#flower_radio').click(function () {
              $('#keywords_text').val('flower beauty');
              $('#flower_radio').button('toggle');
            });
            $('#goddess_radio').click(function () {
              $('#keywords_text').val('goddess egyptian');
              $('#goddess_radio').button('toggle');
            });

        }

        )
    </script>

    <!-- jQuery Version 1.11.0 -->
    <script src="static/grayscale/js/jquery-1.11.0.js"></script>
    <script type="text/javascript" src="/static/js/d3.min.js"></script>
    <!-- Bootstrap Core JavaScript -->
    <script src="static/grayscale/js/bootstrap.min.js"></script>

    <!-- Plugin JavaScript -->
    <script src="static/grayscale/js/jquery.easing.min.js"></script>

    <script type="text/javascript" src="/static/js/activelist.js"></script>
    <!-- Custom Theme JavaScript -->
    <script src="js/grayscale.js"></script>
    <script>
    (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
    (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
    m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
    })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

    ga('create', 'UA-37181652-2', 'auto');
    ga('send', 'pageview');
    </script>

</body>

</html>
